table {
  margin-top: 20px;
  width: 100%;
}

button {
  margin-right: 5px;
}

th {
  font-weight: bold;
}

/*mat-label {*/
/*  color: white;*/
/*}*/

.float-button {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

/*mat-form-field {*/
/*  color: white;*/
/*}*/
