<mat-grid-list cols="6" rowHeight="1:1">
  <mat-grid-tile colspan="6" rowspan="3" >
<mat-card>
  <mat-card-header>
    <mat-card-title class="mat-h1">
      Se connecter
    </mat-card-title>

  </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-error *ngIf="loginInvalid">
          Le nom d'utilisateur et le mot de passe n'ont pas été reconnus
        </mat-error>
        <mat-form-field>
          <input matInput placeholder="Nom d'utilisateur" formControlName="username" required>
          <mat-error>
            Veuillez fournir un nom d'utilisateur valide
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Mot de passe" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error>
            Veuillez fournir un mot de passe valide
          </mat-error>
        </mat-form-field><br>
        <mat-error>
          {{errorMessage}}
        </mat-error>
        <button mat-raised-button color="primary">Valider</button>
      </form>
    </mat-card-content>
  </mat-card>
  </mat-grid-tile>
</mat-grid-list>
