table {
  margin-top: 20px;
  width: 100%;
}

table {
  margin-top: 20px;
  width: 100%;
}

button {
  margin-right: 5px;
}

th {
  font-weight: bold;
}

/*mat-label {*/
/*  color: white;*/
/*}*/


/*mat-form-field {*/
/*  color: white;*/
/*}*/
