<div role="main" class="container bg-light">

    <mat-grid-list cols="2" rowHeight="4:1">
      <mat-grid-tile *ngFor="let option of options; index as i" >
          <button [routerLink]=option.link mat-raised-button
                  class="w-100 ml-4 mr-4"
                  [matBadge]="i+1"
                  matBadgePosition="above before before">
            <span class="font-weight-bold">
              {{option.name}}
            </span>

          </button>
<!--          <mat-divider></mat-divider>-->
      </mat-grid-tile>

    </mat-grid-list>




</div>

