div.cal-day-headers {
  background-color: rgb(255,215,0);
}
div.cal-header {
  background-color: rgb(255,215,0);
}

div.cal-hour-segment {
  background-color: aqua;
}

.cal-hour-odd {
  background-color: rgb(107, 142, 35);
}

 .cal-hour-pair {
   background-color: #8AE234;
 }

.cal-week-view .cal-event {
  background-color: darkblue;
  color: white;
  font-size: 10px;
}



/*.cal-cell-row {*/
/*  height: 100%;*/
/*}*/
/*.cal-weekend {*/
/*  background-color: red;*/
/*}*/
/*.ng-star-inserted {*/
/*  height: 51px;*/
/*}*/
/*.cal-cell .cal-day-cell {*/
/*  height: 100%;*/
/*}*/
