<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    <mat-list>
      <mat-list-item routerLinkActive="active-button">
        <button mat-button [routerLink]="['dashboard']" >
          <mat-icon>dashboard</mat-icon>Tableau de bord
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLinkActive="active-button">
        <button mat-button [routerLink]="['calendar']" >
          <mat-icon>event</mat-icon>Calendrier
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLinkActive="active-button">
        <button mat-button [routerLink]="['membres']">
          <mat-icon>people</mat-icon>Membres
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLinkActive="active-button">
        <button mat-button [routerLink]="['entraineur']">
          <mat-icon>sports</mat-icon>Entraineurs
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLinkActive="active-button">
        <button mat-button [routerLink]="['history']">
          <mat-icon>history</mat-icon>Historique
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLinkActive="active-button">
        <button mat-button [routerLink]="['tvshow']">
          <mat-icon>assignment</mat-icon>Réservations du jour
        </button>
      </mat-list-item>
    </mat-list>

  </mat-sidenav>
  <p>
    <mat-toolbar color="accent">
      <div>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      </div>
      <span style="font-size: 1rem" class="font-weight-bold mr-auto"><mat-icon svgIcon="tennis"></mat-icon>Système Radecla</span>
      <span style="font-size: 1rem">
          Taux d'occupation des terrains
        <span class="font-weight-bold text-dark">8h-14h:</span>  <span style="font-size: 1rem" class="badge badge-secondary text-light">{{(stats$|async)?.h8_14}}%</span>,
        <span class="font-weight-bold text-dark">14h-19h:</span> <span style="font-size: 1rem" class="badge badge-secondary text-light">{{(stats$|async)?.h14_19}}%</span>,
        <span class="font-weight-bold text-dark">19h-24h:</span> <span style="font-size: 1rem" class="badge badge-secondary text-light">{{(stats$|async)?.h19_24}}%</span>
        </span>
      <div class="mr-0 ml-auto">
        <img src="../../assets/tcmt.jpg" height="60px" class="mr-2">
        <img src="../../assets/mglogo.png" height="50px">
      </div>


<!--      <span class="example-spacer"></span>-->
<!--      <div style="text-align: right;">-->
<!--        <button mat-icon-button>-->
<!--          <mat-icon>exit_to_app</mat-icon>-->
<!--        </button>-->
<!--      </div>-->
      <!--    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
      <!--      <mat-icon>favorite</mat-icon>-->
      <!--    </button>-->
      <!--    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">-->
      <!--      <mat-icon>share</mat-icon>-->
      <!--    </button>-->
    </mat-toolbar>
  </p>

  <router-outlet></router-outlet>
<!--  <mat-toolbar style="clear: both;-->
<!--    position: relative;-->
<!--    height: 35px;-->
<!--    ">-->
<!--    <a href="mailto:mgat.contact@gmail.com">-->
<!--      mgat.contact@gmail.com-->
<!--    </a>-->
<!--  </mat-toolbar>-->


</mat-sidenav-container>

<div class="footer font-weight-bold mat-body-1">
<div class="d-inline-flex" style="vertical-align: middle">
  <span>Total Membres <span style="font-size: 1rem" class="badge badge-secondary text-light">{{(stats$|async)?.total_membres}}</span>, &nbsp;</span>
  <span>Membres à jour de leurs cotisations <span style="font-size: 1rem" class="badge badge-secondary text-light">{{(stats$|async)?.membres_paye}}</span>&nbsp;</span>
</div>
  <div class="text-right d-inline-flex justify-content-end text-right align-self-end float-right"  style="vertical-align: middle">
      <mat-icon>
      email
    </mat-icon>
    <a href="mailto:mgat.contact@gmail.com">
    mgat.contact@gmail.com
   </a>
    <span style="color:indigo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      {{ date | date: 'short' }}
    </span>
  </div>


</div>
